---
import { getImage } from "astro:assets";
import me from "../static/me_cropped.jpg";
import meOriginal from "../static/me.jpg?url";
import Link from "../components/link.astro";
import MainLayout from "../layouts/main.astro";

const meMobileAvif = await getImage({
	src: me,
	format: "avif",
	width: 120,
	height: 120,
	densities: [1, 1.5],
});
const meDesktopAvif = await getImage({
	src: me,
	format: "avif",
	width: 240,
	height: 240,
	densities: [1, 1.5],
});
const meFallback = await getImage({
	src: me,
	format: "jpg",
	width: 240,
	height: 240,
});

const skills = [
	"TypeScript",
	"React",
	"Next.js",
	"Node.js",
	"Tailwind",
	"Design Systems",
	"Microfrontends",
	"Web Performance",
	"Accessibility",
	"Testing",
];
---

<MainLayout>
	<main
		class="mx-auto w-full max-w-5xl flex-1 px-6 pb-12 pt-16 text-sm text-gray-600 md:pt-24"
	>
		<section
			class="grid grid-cols-[auto_1fr] gap-x-6 gap-y-8 lg:grid-cols-[1fr_240px] lg:gap-12"
		>
			<Link
				class="flex flex-shrink-0 rounded-full transition-transform duration-200 ease-in-out hover:[transform:scale(1.05)] lg:col-start-2 lg:row-span-4 lg:row-start-1 lg:self-start lg:justify-self-center"
				target="_blank"
				href={meOriginal}
				title="View full photo"
			>
				<picture class="contents">
					<source
						srcset={meMobileAvif.srcSet.attribute}
						media="(max-width: 1023px)"
						type="image/avif"
					/>
					<source
						srcset={meDesktopAvif.srcSet.attribute}
						media="(min-width: 1024px)"
						type="image/avif"
					/>
					<img
						class="pointer-events-none h-20 w-20 rounded-full object-cover md:h-24 md:w-24 lg:h-60 lg:w-60"
						src={meFallback.src}
						alt=""
						loading="eager"
						role="presentation"
						width={meFallback.attributes.width}
						height={meFallback.attributes.height}
						decoding="async"
					/>
					<script is:inline type="module"></script>
				</picture>
			</Link>

			<div class="col-start-2 my-auto lg:col-start-1">
				<h1 class="text-3xl text-black md:text-4xl" itemprop="name">
					<span class="font-semibold" itemprop="givenName">Sergei</span>
					<span class="font-semibold" itemprop="familyName">Garin</span>
				</h1>
				<p class="mt-1.5 text-lg md:text-xl">Senior Frontend Engineer</p>
			</div>

			<p class="col-span-2 text-lg leading-relaxed md:text-xl lg:col-span-1">
				Senior Frontend Engineer specializing in architecting performant
				applications that drive business results. Proven track record of
				achieving dramatic performance gains (10x+) and leading development of
				revenue-generating features.
			</p>

			<div class="col-span-2 space-y-4 lg:col-span-1">
				<h2 class="font-semibold tracking-wide">EXPERTISE</h2>
				<div class="flex flex-wrap gap-2">
					{
						skills.map((skill) => (
							<span class="rounded-full border border-gray-300 bg-white px-4 py-2  text-black">
								{skill}
							</span>
						))
					}
				</div>
			</div>

			<div class="col-span-2 flex flex-col gap-4 sm:flex-row lg:col-span-1">
				<Link
					href="mailto:job@garin.dev"
					itemProp="email"
					class="flex items-center justify-center gap-2 rounded-full bg-black px-6 py-4 text-white no-underline transition-colors hover:bg-black/80 hover:text-white"
				>
					Get in touch
					<svg stroke="currentColor" class="h-5 w-5" viewBox="0 0 24 24"
						><path
							d="m3 8 7.89 5.26a2 2 0 0 0 2.22 0L21 8M5 19h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2"
						></path>
					</svg>
				</Link>
				<Link
					href="/cv.pdf"
					download="Sergei Garin CV.pdf"
					class="flex items-center justify-center gap-2 rounded-full border border-black bg-white px-6 py-4 text-black no-underline"
				>
					Download CV
					<svg
						fill="none"
						stroke="currentColor"
						class="h-5 w-5"
						viewBox="0 0 24 24"
					>
						<path
							d="M12 10v6m0 0-3-3m3 3 3-3m2 8H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5.59a1 1 0 0 1 .7.3l5.42 5.4a1 1 0 0 1 .29.71V19a2 2 0 0 1-2 2"
						></path>
					</svg>
				</Link>
			</div>

			<div class="col-span-2 border-t border-gray-300 pt-8 lg:col-span-1">
				<div class="flex flex-wrap gap-8">
					<Link
						href="https://github.com/MrFlashAccount"
						itemProp="sameAs"
						rel="me"
						class="flex items-center gap-2 transition-colors hover:text-black"
					>
						<svg class="h-5 w-5" viewBox="0 0 24 24">
							<path
								fill-rule="evenodd"
								d="M12 2a10 10 0 0 0-3.16 19.52c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.35-3.37-1.35-.45-1.16-1.11-1.46-1.11-1.46-.9-.62.07-.61.07-.61 1 .07 1.53 1.03 1.53 1.03.9 1.53 2.34 1.09 2.9.83.1-.65.36-1.09.65-1.34-2.22-.25-4.56-1.1-4.56-4.95 0-1.09.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.65s.84-.27 2.75 1.03a10 10 0 0 1 2.5-.34q1.29 0 2.5.34c1.91-1.3 2.75-1.03 2.75-1.03.55 1.38.2 2.4.1 2.65a4 4 0 0 1 1.03 2.7c0 3.84-2.34 4.69-4.57 4.94.36.3.68.92.68 1.85l-.01 2.75c0 .27.18.58.69.48a10 10 0 0 0 6.83-9.5A10 10 0 0 0 12 2"
								clip-rule="evenodd"></path>
						</svg>
						<span>GitHub</span>
					</Link>
					<Link
						href="https://twitter.com/mrflashaccount"
						itemProp="sameAs"
						rel="me"
						class="flex items-center gap-2 transition-colors hover:text-black"
					>
						<svg stroke="currentColor" class="h-5 w-5" viewBox="0 0 24 24">
							<path
								d="M18.24 2.25h3.31l-7.23 8.26 8.5 11.24h-6.65l-5.21-6.82-5.97 6.82H1.68l7.73-8.84L1.25 2.25h6.83l4.71 6.23zm-1.16 17.52h1.84L7.08 4.13H5.12z"
							>
							</path>
						</svg>
						<span>Twitter</span>
					</Link>
					<Link
						href="https://t.me/mrflashaccount"
						itemProp="sameAs"
						rel="me"
						class="flex items-center gap-2 transition-colors hover:text-black"
					>
						<svg stroke="currentColor" class="h-5 w-5" viewBox="0 0 24 24"
							><path
								d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20m4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19-.14.75-.42 1-.68 1.03-.58.05-1.02-.38-1.58-.75l-2.23-1.5c-.99-.65-.35-1.01.22-1.59.15-.15 2.71-2.48 2.76-2.69a.2.2 0 0 0-.05-.18c-.06-.05-.14-.03-.21-.02q-.13.03-4.22 2.79-.6.41-1.08.4a7 7 0 0 1-1.55-.37c-.63-.2-1.12-.31-1.08-.66q.03-.27.74-.55 4.38-1.9 5.83-2.51c2.78-1.16 3.35-1.36 3.73-1.36.08 0 .27.02.39.12q.14.14.14.27z"
							></path></svg
						>
						<span>Telegram</span>
					</Link>
				</div>
			</div>
		</section>
	</main>

	<footer
		class="relative w-full border-t border-gray-300 bg-gray-100 px-6 py-4"
	>
		<p class="pb-safe text-center">
			© <span>
				<script is:inline>
					document.currentScript.parentNode.textContent =
						new Date().getFullYear();
				</script>
			</span> Sergei Garin
		</p>
	</footer>
</MainLayout>
